<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @actor.name %>
</p>

<p>
  <%= image_tag(@actor.avatar_url(:thumb)) if @actor.avatar? %>
  <%= image_tag(@actor.avatar_url(:medium)) if @actor.avatar? %>
  <%= image_tag(@actor.avatar_url(:big)) if @actor.avatar? %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @actor.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @actor.gender %>
</p>

<p>
  <strong>Country:</strong>
  <%= @actor.country %>
</p>

<p>
  <strong>Type:</strong>
  <%= @actor.type %>
</p>

<p>
  <strong>Filmes que este ator jรก trabalhou:</strong>
  <table border='1'>
    <tr>
        <th>Title</th>
    </tr>
    <% @actor.movies.each do |movies_actor| %>
        <tr>
            <td><%= movies_actor.title %></td>
        </tr>
    <% end %>
  </table>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_actor_path(@actor) %> |
<% end %>

<%= link_to 'Back', actors_path %>
