<h1>Movies#show</h1>
<p>Find me in app/views/movies/show.html.erb</p>
<h1><%= @movie.title %></h1>

<table border='1'>
    <tr>
        <th>Description</th>
        <th>Release Date</th>
        <th>Budget</th>
        <th>Box Office</th>
    </tr>
    <tr>
        <td><%= @movie.description%></td>
        <td><%= @movie.release_date%></td>
        <td><%= @movie.budget%></td>
        <td><%= @movie.box_office%></td>
    </tr>
</table>