<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @director.name %>
</p>

<p>
  <%= image_tag(@director.avatar_url(:thumb)) if @director.avatar? %>
  <%= image_tag(@director.avatar_url(:medium)) if @director.avatar? %>
  <%= image_tag(@director.avatar_url(:big)) if @director.avatar? %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @director.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @director.gender %>
</p>

<p>
  <strong>Country:</strong>
  <%= @director.country %>
</p>

<p>
  <strong>Type:</strong>
  <%= @director.type %>
</p>

<p>
  <strong>Filmes que este diretor jรก trabalhou:</strong>
  <table border='1'>
    <tr>
        <th>Title</th>
    </tr>
    <% @director.movies.each do |movies_director| %>
        <tr>
            <td><%= movies_director.title %></td>
        </tr>
    <% end %>
  </table>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_director_path(@director) %> |
<% end %>

<%= link_to 'Back', directors_path %>
